<div class="head-title"><h4>Tất cả sản phẩm</h4></div>
<div class="row">
  <div class="card" style="width: 18rem" *ngFor="let item of itemList$">
    <img
      class="card-img-top"
      src="https://cf.shopee.vn/file/{{ item.image }}_tn"
      alt="{{ item.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text" *ngIf="item.price_before_discount != 0">
        Giá gốc : {{ item.price_before_discount | number }}
        {{ item.currency }}
      </p>
      <p class="card-text">
        Giá hiện tại : {{ item.price | number }} {{ item.currency }}
      </p>
    </div>
  </div>
</div>
