@media screen and (max-width: 600px) {
  #left {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  
}
@media only screen and (min-width: 768px) {
    button{
        visibility: hidden;
      }
}

.header {
  width: 100%;
  // height: 200px;
  background-color: blueviolet;
  // padding-left: 2rem;
}
.page-brand {
  color: white;
}
.body {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
  // height: 800px;
}
.footer {
  margin-top: 1rem;
  width: 100%;
  height: 150px;
  background-color: blueviolet;
  bottom: 0;
  left: 0;
}

#left {
}
#right {
  padding-left: 4%;
}

ul.vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}