<div class="header container-fluid">
  <!-- Image and text -->
  <nav class="navbar  navbar-light">
    <h3>
      <span class="page-brand" [routerLink]="['/main/all-products']">
        <i class="fas fa-spider"></i> Crawler-Page
      </span>
    </h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/main/all-products']"
            routerLinkActive="router-link-active"
            ><span>Tất cả sản phẩm</span></a
          >
        </li>
        <li *ngFor="let cate of cateList">
          <a class="nav-link"
            (click)="
              navigationtoGetProductCate(
                cate.shop_category_id,
                cate.display_name
              )
            "
            ><span>{{ cate.display_name }}</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="body container-fluid">
  <div class="row">
    <div id="left" class="col-sm-2">
      <h3>Menu</h3>
      <ul class="vertical">
        <li>
          <a
            [routerLink]="['/main/all-products']"
            routerLinkActive="router-link-active"
            ><span>Tất cả sản phẩm</span></a
          >
        </li>
        <li *ngFor="let cate of cateList">
          <a
            (click)="
              navigationtoGetProductCate(
                cate.shop_category_id,
                cate.display_name
              )
            "
            ><span>{{ cate.display_name }}</span></a
          >
        </li>
      </ul>
    </div>
    <div id="right" class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="footer"></div>
